/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
header-color = #fdf5e6
background-color = #cdf3b0
text-color = #362819

body
  font-family: 'IM Fell Great Primer'
  background-color background-color
  color text-color

header
  font-family 'IM Fell Great Primer'
  color text-color
  font-size 36px
  text-align center
  height 145px

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color background-color



/*
@media screen and (min-width : 1000px)
  .container
    width 1000px

.HolyGrail
  display flex
  min-height 100vh
  flex-direction column


.HolyGrail-body
  display flex
  flex 1
  width 1200px
  margin auto

@media screen and (max-width: 1200px)
  .HolyGrail-body
    width 100%

.HolyGrail-content
  flex 1
  text-align center



.HolyGrail-left, .HolyGrail-right
  flex 0 0 12em
  width 10%


.HolyGrail-left
  order -1
*/
.comic
  width 90%
  display block
  margin auto
  border white solid 6px
  border-radius 25px
  background-color white
  padding 15px

#headerImg
  width 93%
  height 100%
  display inline-block
  margin auto
  border white solid 3px
  border-radius 15px
  background-color #ffffff
  padding 7px

.commentSection
  background-color white
  border-radius 25px
  width 94%
  display block
  margin auto
  margin-top 20px
  margin-bottom 20px

.commentBox
  width 95%
  padding 15px
  display block
  margin auto


.comicText
  background-color #ffffff
  border-radius 25px
  width 94%
  display block
  margin auto

.comicTextInside
  font-size 16px
  white-space nowrap
  width 65%
  margin auto
  display block
  padding 10px

.wordwrap
  white-space pre-wrap      /* CSS3 */
  white-space -moz-pre-wrap /* Firefox */
  white-space -pre-wrap     /* Opera <7 */
  white-space -o-pre-wrap   /* Opera 7 */
  word-wrap break-word      /* IE */


.comicTextInside h1
  font-size 20px

#navBarImage
  width 100%
  height 100%
  display inline-block
  margin auto


.HolyGrail,
.HolyGrail-body
  display flex
  flex-direction column
  text-align center
  min-height 400px

.HolyGrail-body
  width 900px
  margin auto
  padding-top 35px


.HolyGrail-left
  order -1
  min-height 100px

.HolyGrail-right
  min-height 100px

@media (min-width : 768px)
  .HolyGrail-body
    flex-direction row
    flex 1

  .HolyGrail-content
    flex 1

  .HolyGrail-left, .HolyGrail-right
    flex 0 0 12em


@media screen and (max-width: 900px)
  .HolyGrail-body
    width 100%